/* ***************************************
        Gallery
*************************************** */
.elgg-gallery {
        border: none;
        margin-right: auto;
        margin-left: auto;
}
.elgg-gallery td {
        padding: 5px;
}
.elgg-gallery-fluid > li {
        float: left;
}
.elgg-gallery-users > li {
        margin: 0 2px;
}
