<div class="elgg-layout elgg-layout-one-column clearfix">
	<div class="elgg-main elgg-body">
		<div class="elgg-head">
			<ul class="elgg-menu elgg-menu-title elgg-menu-hz elgg-menu-title-default">
				<li class="elgg-menu-item-upload" ng-show="album.canEdit">
					<a href="/photos/upload/{{album.guid}}" class="elgg-button elgg-button-submit" target="_self">
						{{ 'images:upload' | elggEcho }}
					</a>
				</li>
				<li class="elgg-menu-item-edit" ng-show="album.canEdit">
					<a href="/photos/edit/{{album.guid}}" class="elgg-button elgg-button-action" target="_self">
						{{ 'edit' | elggEcho }}
					</a>
				</li>
				<li class="elgg-menu-item-delete" ng-show="album.canEdit">
					<a ng-click="ctrl.deleteEntity(album)">
						<span class="elgg-icon elgg-icon-delete">Delete</span>
					</a>
				</li>
			</ul>
			<h2 class="elgg-heading-main">
				{{album.displayName}}
			</h2>
		</div>
		<div class="elgg-content">
			<div class="elgg-output" ng-bind-html="album.content"></div>
			<ul class="elgg-gallery tidypics-gallery" ng-show="album.totalItems > 0">
				<li ng-repeat="image in album.items" id="elgg-object-{{image.guid}}" class="elgg-item">
					<a href="{{image.url}}">
						<img ng-src="{{image.image.url}}" class="elgg-photo"
						     title="{{image.displayName}}" alt="{{image.displayName}}" />
					</a>
				</li>
			</ul>
			<div ng-show="album.totalItems == 0">There are no photos in this album... yet!</div>
			<!-- <div elgg-responses object="album"></div> -->	
		</div>
	</div>
</div>
